      <ul>
                {{#each burgers}}
                          {{#unless devoured}}
                <li>

                    {{this.burger_name}}
                    <button data-burgerid="{{this.id}}" data-burgereat="{{this.devoured}}" class="eat-burger">Devour it!</button>

                    
                </li>
                {{/unless}}
                {{/each}}
            </ul>