<br>
<h1>Burgers</h1><br>



<div class="container justify-content-center">
    <div class="row">
        <div class="col-6">
            <h2>Available Burgers</h2>
            <ul>
                {{#each burgers}}

                <li>
                    {{!-- If the the value is false then display  devoured =table name!!!--}}
                    {{#unless devoured}}

                    {{this.burger_name}}
                    <button data-burgerid="{{this.id}}" data-burgereat="{{this.devoured}}" class="eat-burger">Devour it!</button>

                    {{/unless}}
                </li>
                {{/each}}
            </ul>
        </div>
        <div class="col-6">
            <h2>Yummy in my Belly</h2>

            <ul>
                {{#each burgers}}
                {{!-- If the the value is true then display --}}
                {{#if devoured}}
                <li>
                    {{this.burger_name}}


                </li>

                {{/if}}

                {{/each}}
            </ul>
        </div>

    </div>

    {{!-- Add the burger --}}
    <div class="row">
        <div class="col-12">

            <h2>Add a Burger</h2>
            <form class="create-form">

                <div class="form-group">
                    <label for="bu">Burger Name:</label>
                    {{!-- <input type="text" id="ca" name="name">  Originaly Ca in the code to review --}}
                    <input type="text" id="bu" name="name">
                </div>

                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>